.Header{
    height: 80px;
   background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
   padding-right: 100px;
}

.navbar a{
    margin-left: 30px;
    color: #ffff;
    text-decoration: none;
}